@{
    ViewData["Title"] = "About us Page";
}

<div class="text-center">
    <h1>Rushikesh Shivam Shyam Pvt. Ltd.</h1>
    <hr/>
    <p>we are provide all type of service</p>
    <p>Rashtra Pratham</p>
</div>